* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

::selection {
    color: #fff;
    background: #ffffff;
}

::-webkit-scrollbar {
    width: 7px;
}

 ::-webkit-scrollbar-track {
    background: #ffffff;
}

 ::-webkit-scrollbar-thumb {
    background: #0fb1fc;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #4a4a4a;
    cursor: grab;
}

 ::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

body {
    width: 100vw;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: #008ffc;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 50px 30px;
    border-radius: 17px;
    background-color: #fff;
}

form {
    display: flex;
    align-items: center;
    background-color: #d3d3d3;
    border-radius: 30px;
    #input {
        background: none;
        border: none;
        outline: none;
        padding: 4px 10px;
        width: 500px;
        font-size: 18px;
    }
    #btn {
        width: 70px;
        height: 100%;
        padding: 5px;
        font-size: 50px;
        font-weight: 600;
        border: none;
        border-radius: 50%;
        background-color: #10af05;
        cursor: pointer;
        transition: 0.3s;
        &:active {
            transform: scale(0.90);
        }
    }
}

.successfully {
    color: #10af05;
    font-size: 15px;
    font-weight: 600;
}